section{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-top: 5rem;
}

#div1{
    background-color: grey;
    width: 100px;
    padding: 40px;
}